<h1>{{ title }} works!</h1>

<p>
  Das hier ein paragraph mit einer textgröße von 18px

  <mat-icon inline="true" fontIcon="home"></mat-icon>
</p>

<p class="groß">
  Das hier ein paragraph mit einer textgröße von 30px

  <mat-icon inline="true" fontIcon="home"></mat-icon>
</p>

<p>Mal schauen ob das gleiche auch mit einem Icon-Button funktioniert</p>
<p>erstmal ein kleiner button</p>
<button mat-icon-button> Click me
  <mat-icon inline="true" fontIcon="home"></mat-icon>
</button>

<p class="groß">dann ein großer</p>

<button mat-icon-button class="small-icon-button">
  click me <mat-icon inline="true" fontIcon="home"></mat-icon>
</button>
